{% extends "base.html" %}

{# This block is used to completely override the default footer content #}
{% block footer_meta %}
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer-copyright">
        {# Custom Trademark Text #}
        Made with <span class="neon-heart">&hearts;</span> by 
        <a href="https://github.com/unnobatroo" target="_blank" rel="noopener">Jaloliddin Ismailov</a>, 2025.
      </div>
    </div>
  </div>
{% endblock %}