body,
.wy-nav-content {
  background-color: #000000;
}

.document p,
.document li,
.rst-content h1,
.rst-content h2,
.rst-content h3,
.rst-content h4 {
  color: #d8d8d8;
}

.wy-side-nav-search, 
.wy-nav-top {
  background-color: #1a1a1a;
  color: #ffffff;
  border-bottom: 1px solid #333333;
}
.wy-nav-side {
  background-color: #1a1a1a;
}

.toctree-l1 a,
.toctree-l2 a {
  color: #c0c0c0;
}
.toctree-l1 a:hover,
.toctree-l2 a:hover {
  background-color: #333333;
}

.highlight,
.rst-content pre,
.rst-content tt {
  background-color: #141414 !important;
  color: #c0c0c0;
  border-left: 3px solid #666666;
  border-radius: 0;
  box-shadow: none;
}
.rst-content code {
  color: #00FF00;
  background-color: #141414;
  padding: 0.1em 0.3em;
}

.custom-trademark-footer {
    display: block;
    clear: both;
    text-align: right;
    padding-bottom: 5px;

    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8rem;
    color: #00FF00;
    text-shadow: 0 0 3px rgba(0, 255, 0, 0.5);
}

.custom-trademark-footer .neon-heart {
    color: #FF00FF; 
    text-shadow: 0 0 5px rgba(255, 0, 255, 0.5);
}

.custom-trademark-footer a {
    color: inherit;
    border-bottom: 1px dashed #00FF00;
}
.custom-trademark-footer a:hover {
    color: #00FF00;
    border-bottom: 1px solid #00FF00;
}